body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard-container {
  width: 99vw;
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.home-widget {
  background-color: #ececec;
  border-radius: 15px;
  position: absolute;
  width: 0%;
  transition: width 300ms ease;
}

.home-widget-selected {
  position: static;
  width: 90%;
  transition: width 300ms ease;
  padding: 15px;
}

img {
  border-radius: 15px;
}

.filters-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.property-form-container {
  background-color: #000000cf;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 300ms ease;
}

.property-form {
  background-color: #fff;
  border: #a9a9a9 3px solid;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.property-form input {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 12px;
  font-size: 15px;
  outline: none;
}

.property-form button {
  border: none;
  background-color: #e2e1ff;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.property-form button svg {
  width: 30px;
  height: 30px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

.city-tags-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

span.city-tag {
  border: 3px solid #dbf8e5;
  color: #039032;
  padding: 14px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

span.city-tag.selected {
  background-color: #dbf8e5;
  transition: all 0.2s ease-in;
}

.center-location-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #e2e1ff;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
}

.crosshair {
  width: 30px;
  height: 30px;
}

.tools-container {
  display: flex;
  gap: 10px;
}

.tools-container .add-property-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #e2e1ff;
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
}

.tools-container .add-property-button .add-property {
  width: 30px;
  height: 30px;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.address-header {
  font-size: 1.8rem;
  color: #353535;
  font-weight: 700;
  margin-bottom: 15px;
}

.price-subheader {
  color: #353535;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.view-on-google {
  border: none;
  display: flex;
  gap: 5px;
  background-color: #adcfb6;
  align-items: center;
  border-radius: 50px;
  padding: 8px;
  cursor: pointer;
  color: #1a672e;
  font-weight: 500;
  font-size: 13px;
}

.view-on-google .gmaps-logo {
  width: 30px;
  height: 30px;
}
